* {
   margin: 0;
   padding: 0; 
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #e5e5e5;
}

#welcome {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 200px;
    font-size: 150px;

}

#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;

}

.nav li {
    padding-top: 5px;
    padding-bottom: 5px;
}

li {
    list-style: none;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: o auto;
    /* margin-bottom: 6rem; */
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    /* border-bottom: 0.2rem solid white; */
}

.project-tile {
    margin-top: 20px;
    padding-top: 20px;
    color: black;
}

h2 {
    font-size: 4.2rem;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
}

.project-image {
    height: auto;
    width: 100%;
    object-fit: cover;
}

img {
    display: block;
}

header a {
    color: white;
    list-style: none;
    text-decoration: none; 
}

footer a {
    color: black;
    list-style: none;
    text-decoration: none;
}

.contact-links a {
    color: black;
    list-style: none;
    padding-left: 20px;
}

a:hover {
    color: black;
    
}

@media (hover: hover) {
    a:hover {
        color: lightblue;
    }
}

.contact-section-header p {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 20px;
    text-align: center;
    font-size: 30px;
}

.contact-details .btn {
    text-align: center;
    
}

.footer {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 20px;
    padding-top: 0;
}

footer p {
    margin-top: 10px;
    margin-bottom: 20px;
}
